* @defenseunicorns/uds-core @defenseunicorns/swf @defenseunicorns/zarf @defenseunicorns/pepr @defenseunicorns/lula-dev @defenseunicorns/uds @defenseunicorns/leapfrogai @defenseunicorns/uds-marketplace

# Common Renovate Configuration (updates as soon as it hits `main`)
/config/renovate.json5 @defenseunicorns/uds-core @defenseunicorns/swf @defenseunicorns/tech-leads

# UDS Package Practices
/docs/made-for-uds.svg @defenseunicorns/tech-leads
/docs/uds-package-practices.md @defenseunicorns/tech-leads

# Additional privileged files
/CODEOWNERS @jeff-mccoy @daveworth
/LICENSE @jeff-mccoy @daveworth
