* @defenseunicorns/uds-core @defenseunicorns/swf @defenseunicorns/leapfrogai @defenseunicorns/uds-appstore

# Common Renovate Configuration (updates as soon as it hits `main`)
/config/renovate.json5 @defenseunicorns/uds-platform-leads @defenseunicorns/swf-leads @defenseunicorns/tech-leads

# UDS Package Practices
/docs/made-for-uds.svg @defenseunicorns/tech-leads
/docs/uds-package-practices.md @defenseunicorns/tech-leads

# Additional privileged files
/CODEOWNERS @jeff-mccoy @daveworth
/LICENSE* @jeff-mccoy @austenbryan
