* @defenseunicorns/uds-foundry @defenseunicorns/uds-core

# Common Renovate Configuration (updates as soon as it hits `main`)
/config/renovate.json5 @defenseunicorns/uds-platform-leads

# Additional privileged files
/CODEOWNERS @jeff-mccoy @daveworth
# NOTE: No E to catch LICENSE and LICENSING
/LICENS* @jeff-mccoy @austenbryan
