tasks:
  - name: validate
    description: Lula Validate OSCAL Compliance
    inputs:
      oscalfile:
        description: OSCAL File to Validate
        default: ./oscal-component.yaml
      assessment_results:
        description: Path for the output Assessment Results from Validate
        default: ./oscal-assessment-results.yaml
      options:
        description: For setting additional flags
    actions:
      - cmd: lula validate -f ${{ .inputs.oscalfile }} -o ${{ .inputs.assessment_results }} ${{ .inputs.options }}

  - name: evaluate
    description: Lula Evaluate multiple OSCAL Assessment Results
    inputs:
      assessment_results:
        description: File path to the single Assessment Results file that contains the array of Assessment Results
        default: ./oscal-assessment-results.yaml
    actions:
      - cmd: lula evaluate -f ${{ .inputs.assessment_results }}
