# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

tasks:
  - name: validate
    description: "Deprecated: Lula Validate OSCAL Compliance"
    inputs:
      oscalfile:
        description: OSCAL File to Validate
        default: ./oscal-component.yaml
      assessment_results:
        description: Path for the output Assessment Results from Validate
        default: ./oscal-assessment-results.yaml
      options:
        description: For setting additional flags
    actions:
      - cmd: echo "Skipping OSCAL Validation. This task's functionality will be removed or replaced in a future release."

  - name: evaluate
    description: "Deprecated: Lula Evaluate multiple OSCAL Assessment Results"
    inputs:
      assessment_results:
        description: File path to the single Assessment Results file that contains the array of Assessment Results
        default: ./oscal-assessment-results.yaml
      options:
        description: For setting additional flags
    actions:
      - cmd: echo "Skipping OSCAL Evaluation. This task's functionality will be removed or replaced in a future release."
