variables:
  - name: FLAVOR
    default: upstream

tasks:
  - name: package
    description: Create the UDS Zarf Package
    inputs:
      options:
        description: For setting create time variables and flags
      path:
        description: Path to the zarf package definition being created
        default: .
      architecture:
        description: The architecture of the package to create
        default: ${UDS_ARCH}
      config:
        description: Optionally supply a path to the desired Zarf Configuration for the package
        default: ""
        required: false
    actions:
      - env:
          - ZARF_CONFIG=${{ .inputs.path }}/${{ .inputs.config }}
        cmd: |
          if [ ${FLAVOR} != "registry1" ] || [ ${{ .inputs.architecture }} != "arm64" ]; then
            ./uds zarf package create ${{ .inputs.path }} --confirm --no-progress --architecture=${{ .inputs.architecture }} --flavor ${FLAVOR} ${{ .inputs.options }}
          else
            echo "Registry1 packages cannot be made for 'arm64'"
          fi

  - name: test-bundle
    description: Create the test UDS Bundle
    inputs:
      options:
        description: For setting create time variables and flags
      path:
        description: Path relative to the repositories root where the uds-bundle.yaml lives
        default: bundle
      config:
        description: File name of the bundle config file. Defaults to uds-config.yaml. Path is relative to the path input.
        default: uds-config.yaml
      architecture:
        description: The architecture of the bundle to create
        default: ${UDS_ARCH}
    actions:
      - env:
          - UDS_CONFIG=${{ .inputs.path }}/${{ .inputs.config }} 
        cmd: |
          if [ ${FLAVOR} != "registry1" ] || [ ${{ .inputs.architecture }} != "arm64" ]; then
            ./uds create ${{ .inputs.path }} --confirm --no-progress --architecture=${{ .inputs.architecture }} ${{ .inputs.options }}
          else
            echo "Registry1 bundles cannot be made for 'arm64'"
          fi
