tasks:
  - name: deps
    description: Install linting tool dependencies
    actions:
      - description: Install yamllint via pip
        cmd: CMD=pip && which $CMD || CMD=pip3 && $CMD install yamllint

  - name: yaml
    description: Run YAML linting checks
    actions:
      # requires yamllint to be installed either from pip or brew
      - description: Lint YAML files
        cmd: yamllint . -c .yamllint --no-warnings

  - name: oscal
    description: Run linting checks on OSCAL
    actions:
      - description: Lint OSCAL files
        cmd: lula tools lint -f ${{ .inputs.oscalfiles }}
