variables:
  - name: FLAVOR
    default: upstream
  - name: TARGET_REPO
    default: ghcr.io/defenseunicorns/packages/uds

tasks:
  - name: package
    description: Publish package for the supplied architecture
    inputs:
      path:
        description: Path to the zarf package being published
        default: .
      version:
        description: The version of the package to publish
        required: true
      architecture:
        description: The architecture of the package to publish
        default: ${UDS_ARCH}
    actions:
      - task: utils:determine-repo
      - description: Publish package for the supplied architecture
        cmd: |
          ./uds zarf package publish ${{ .inputs.path }}/zarf-package-*-${{ .inputs.architecture }}-${{ .inputs.version }}.tar.zst oci://${TARGET_REPO}

  - name: test-bundle
    description: Publish bundle for the supplied architecture
    inputs:
      path:
        description: Path to the UDS bundle being published
        default: bundle
      version:
        description: The version of the bundle to publish
        required: true
      architecture:
        description: The architecture of the bundle to publish
        default: ${UDS_ARCH}
      target_repo:
        description: The repository to publish into
        default: ghcr.io/defenseunicorns/packages/uds/bundles
    actions:
      - description: Publish bundle for the supplied architecture
        cmd: |
          ./uds publish ${{ .inputs.path }}/uds-bundle-*-${{ .inputs.architecture }}-${{ .inputs.version }}.tar.zst oci://${{ .inputs.target_repo }} --no-progress
