variables:
  - name: FLAVOR
    default: upstream

tasks:
  - name: package
    description: Publish packages for the amd64 and arm64 architectures
    inputs:
      path:
        description: Path to the zarf package being published
        default: .
      version:
        description: The version of the package to publish
        required: true
      target_repo:
        description: The repository to publish into
        default: ghcr.io/defenseunicorns/packages/uds
    actions:
      - description: Publish packages for the amd64 and arm64 architectures
        cmd: |
          set -e
          uds zarf package publish ${{ .inputs.path }}/zarf-package-*-amd64-${{ .inputs.version }}.tar.zst oci://${TARGET_REPO}
          if [ ${FLAVOR} != "registry1" ]; then
            uds zarf package publish ${{ .inputs.path }}/zarf-package-*-arm64-${{ .inputs.version }}.tar.zst oci://${TARGET_REPO}
          fi
          set +e

  - name: bundle
    description: Publish bundles for the amd64 and arm64 architectures
    inputs:
      path:
        description: Path to the UDS bundle being published
        default: bundle
      version:
        description: The version of the bundle to publish
        required: true
      target_repo:
        description: The repository to publish into
        default: ghcr.io/defenseunicorns/packages/uds/bundles
    actions:
      - description: Publish bundles for the amd64 and arm64 architectures
        cmd: |
          set -e
          uds publish ${{ .inputs.path }}/uds-bundle-*-amd64-${{ .inputs.version }}.tar.zst oci://${TARGET_REPO} --no-progress
          if [ ${FLAVOR} != "registry1" ]; then
            uds publish ${{ .inputs.path }}/uds-bundle-*-arm64-${{ .inputs.version }}.tar.zst oci://${TARGET_REPO} --no-progress
          fi
          set +e
