# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

includes:
  - utils: ./utils.yaml

variables:
  - name: FLAVOR
    default: upstream
  - name: TEAM
    default: uds
  - name: ENABLE_UDS_PK
    default: "false"
  - name: BASE_REPO
  - name: PUBLISH_PATH

tasks:
  - name: package
    description: Publish the UDS package for the supplied architecture
    inputs:
      path:
        description: Path to the zarf package being published
        default: .
      version:
        description: The version of the package to publish
        default: ${VERSION}
      architecture:
        description: The architecture of the package to publish
        default: ${UDS_ARCH}
      team:
        description: The team publishing the package
        default: uds
      name:
        description: The name of the package to publish
        default: ${PACKAGE_NAME}
    actions:
      - if: ${{ eq .variables.ENABLE_UDS_PK "false" }}
        task: release-please-publish
        with:
          path: ${{ .inputs.path }}
          version: ${{ .inputs.version }}
          architecture: ${{ .inputs.architecture }}
          team: ${{ .inputs.team }}
          name: ${{ .inputs.name }}
      - if: ${{ eq .variables.ENABLE_UDS_PK "true" }}
        task: uds-pk-publish
        with:
          path: ${{ .inputs.path }}
          architecture: ${{ .inputs.architecture }}
          team: ${{ .inputs.team }}
          name: ${{ .inputs.name }}

  - name: release-please-publish
    description: Publish the UDS package using release-please based workflows
    inputs:
      path:
        description: Path to the zarf package being published
        default: .
      version:
        description: The version of the package to publish
        required: true
      architecture:
        description: The architecture of the package to publish
        default: ${UDS_ARCH}
      team:
        description: The team publishing the package
        default: uds
      name:
        description: The name of the package to publish
        default: ${PACKAGE_NAME}
      flavor:
        description: The flavor of the package to build
        default: ${FLAVOR}
    actions:
      - task: utils:determine-repo
        with:
          team: ${{ .variables.TEAM }}
          base_repo: ${{ .variables.BASE_REPO }}
          publish_path: ${{ .variables.PUBLISH_PATH }}
      - description: Get the current Zarf package name
        cmd: cat ${{ .inputs.path }}/zarf.yaml | ./uds zarf tools yq .metadata.name
        setVariables:
          - name: PACKAGE_NAME
      - description: Get the current Zarf package flavor suffix
        cmd: |
          # shellcheck disable=SC2157
          if [ -z "${{ .inputs.flavor }}" ]; then echo ""; else echo "-${{ .inputs.flavor }}"; fi
        setVariables:
          - name: FLAVOR_SUFFIX
      - description: Publish package for the supplied architecture
        cmd: |
          ./uds zarf package publish "${{ .inputs.path }}/zarf-package-${{ .inputs.name }}-${{ .inputs.architecture }}-${{ .inputs.version }}${FLAVOR_SUFFIX}.tar.zst" "oci://${TARGET_REPO}"


  - name: uds-pk-publish
    description: Publish the UDS package using uds-pk based workflows
    inputs:
      path:
        description: Path to the zarf package being published
        default: .
      architecture:
        description: The architecture of the package to publish
        default: ${UDS_ARCH}
      team:
        description: The team publishing the package
        default: uds
      name:
        description: The name of the package to publish
        default: ${PACKAGE_NAME}
      flavor:
        description: The flavor of the package to build
        default: ${FLAVOR}
    actions:
      - task: utils:determine-repo
        with:
          team: ${{ .variables.TEAM }}
          base_repo: ${{ .variables.BASE_REPO }}
          publish_path: ${{ .variables.PUBLISH_PATH }}
      - description: Get the current Zarf package name
        cmd: cat ${{ .inputs.path }}/zarf.yaml | ./uds zarf tools yq .metadata.name
        setVariables:
          - name: PACKAGE_NAME
      - description: publish using uds-pk
        cmd: |
          ./uds zarf package publish "${{ .inputs.path }}/zarf-package-${{ .inputs.name }}-${{ .inputs.architecture }}-$(uds-pk release show ${{ .inputs.flavor }}).tar.zst" "oci://${TARGET_REPO}"

          if [ -n "${GITLAB_CI}" ]; then
            uds-pk release gitlab "${{ .inputs.flavor }}"
          elif [ -n "${GITHUB_ACTION}" ]; then
            uds-pk release github "${{ .inputs.flavor }}"
          else
            echo "Unsupported platform"
            exit 11
          fi

  - name: republish-package
    description: Republish the UDS package
    inputs:
      path:
        description: Path to the zarf package being published
        default: .
      architecture:
        description: The architecture of the package to publish
        default: ${UDS_ARCH}
      team:
        description: The team publishing the package
        default: uds
      name:
        description: The name of the package to publish
        default: ${PACKAGE_NAME}
      flavor:
        description: The flavor of the package to publish
        default: ${FLAVOR}
    actions:
      - task: utils:determine-repo
        with:
          team: ${{ .variables.TEAM }}
          base_repo: ${{ .variables.BASE_REPO }}
          publish_path: ${{ .variables.PUBLISH_PATH }}
      - description: Get the current Zarf package name
        cmd: cat ${{ .inputs.path }}/zarf.yaml | ./uds zarf tools yq .metadata.name
        setVariables:
          - name: PACKAGE_NAME
      - description: Checkout latest tag and re-publish
        cmd: |
          ./uds zarf package publish "${{ .inputs.path }}/zarf-package-${{ .inputs.name }}-${{ .inputs.architecture }}-$(uds-pk release show ${{ .inputs.flavor }}).tar.zst" "oci://${TARGET_REPO}"

  - name: test-bundle
    description: Publish the test bundle for the supplied architecture
    inputs:
      path:
        description: Path to the UDS bundle being published
        default: bundle
      version:
        description: The version of the bundle to publish
        default: ${BUNDLE_VERSION}
      architecture:
        description: The architecture of the bundle to publish
        default: ${UDS_ARCH}
      name:
        description: The name of the bundle to publish
        default: ${BUNDLE_NAME}
    actions:
      - task: utils:determine-repo
        with:
          base_repo: ${{ .variables.BASE_REPO }}
          publish_path: ${{ .variables.PUBLISH_PATH }}
      - description: Get the current UDS Bundle name
        cmd: cat ${{ .inputs.path }}/uds-bundle.yaml | ./uds zarf tools yq .metadata.name
        setVariables:
          - name: BUNDLE_NAME
      - description: Get the current UDS Bundle version
        cmd: cat ${{ .inputs.path }}/uds-bundle.yaml | ./uds zarf tools yq .metadata.version
        setVariables:
          - name: BUNDLE_VERSION
      - description: Publish bundle for the supplied architecture
        cmd: |
          ./uds publish "${{ .inputs.path }}/uds-bundle-${{ .inputs.name }}-${{ .inputs.architecture }}-${{ .inputs.version }}.tar.zst" "oci://${TARGET_REPO}/bundles" --no-progress

  - name: repo
    description: Publish point in time repo snapshot to OCI
    inputs:
      flavor:
        description: The flavor of the package to publish
        default: ${FLAVOR}
      base_repo:
        description: The flavor of the package to publish
        default: ${BASE_REPO}
    actions:
      - description: publish repo source to oci
        if: ${{ eq .variables.BASE_REPO "ghcr.io/uds-packages" }}
        task: git-to-oci
        with:
          flavor: ${{ .inputs.flavor }}
      - description: Skip publish of Repo Source if not in uds-packages org       
        if: ${{ ne .variables.BASE_REPO "ghcr.io/uds-packages" }}
        cmd: echo "Skipping Repo source Publish to OCI"
          


  - name: git-to-oci
    description: Package git repo as OCI artifact with release notes
    inputs:
      flavor:
        description: The flavor of the package to publish
        default: ${FLAVOR}
    actions:
      - description: Package and push
        cmd: |
          WORK_DIR=".git-to-oci-tmp"
          ORIGIN_URL=$(git remote get-url origin)
          OWNER=$(echo "$ORIGIN_URL" | sed -nE 's@.*github.com[:/]([^/]+)/([^/.]+)(\.git)?$@\1@p')
          REPO=$(echo "$ORIGIN_URL" | sed -nE 's@.*github.com[:/]([^/]+)/([^/.]+)(\.git)?$@\2@p')
          
          # Get release tag from flavor
          GIT_REF=$(uds-pk release show ${{ .inputs.flavor }})
          
          # TARGET_REPO 
          TARGET="${TARGET_REPO}/source/${REPO}-source:${GIT_REF}"
          
          rm -rf "$WORK_DIR"
          mkdir -p "$WORK_DIR"
          cd "$WORK_DIR"
          
          # Fetch release data
          URL="https://api.github.com/repos/${OWNER}/${REPO}/releases/tags/${GIT_REF}"
          RELEASE_JSON=$(curl -sS -H "Accept: application/vnd.github+json" -H "Authorization: Bearer ${GITHUB_TOKEN}" "$URL")
          
          # Extract fields
          BODY=$(echo "$RELEASE_JSON" | jq -r '.body')
          TARBALL_URL=$(echo "$RELEASE_JSON" | jq -r '.tarball_url')
          CREATED_AT=$(echo "$RELEASE_JSON" | jq -r '.created_at')
          TARGET_COMMIT=$(echo "$RELEASE_JSON" | jq -r '.target_commitish')
          
          if [ "$BODY" = "null" ] || [ -z "$BODY" ]; then
            echo "ERROR: No release found for tag ${GIT_REF}"
            exit 1
          fi
          
          # Download tarball
          curl -sS -L -H "Authorization: Bearer ${GITHUB_TOKEN}" "$TARBALL_URL" -o source.tar.gz
          
          # Save release notes
          echo "$BODY" > release-notes.md
          
          # Push to registry
          oras push \
            --plain-http \
            --artifact-type "application/vnd.git.source.v1.tar+gzip" \
            --annotation "org.opencontainers.image.revision=${TARGET_COMMIT}" \
            --annotation "org.opencontainers.image.created=${CREATED_AT}" \
            --annotation "org.opencontainers.image.source=${ORIGIN_URL}" \
            --annotation "dev.git.ref=${GIT_REF}" \
            "${TARGET}" \
            "source.tar.gz:application/gzip" \
            "release-notes.md:text/markdown"
          
          cd ..
          rm -rf "$WORK_DIR"
