variables:
  - name: REGISTRY1_TEST_IMAGE
    default: registry1.dso.mil/ironbank/opensource/defenseunicorns/zarf/zarf-agent

tasks:
  - name: k3d-test-cluster
    actions:
      - description: Create k3d cluster with UDS Core Istio
        # renovate: datasource=github-tags depName=defenseunicorns/uds-core versioning=semver
        cmd: uds deploy oci://defenseunicorns/uds/bundles/k3d-core-istio-dev:0.16.1 --confirm --no-progress
