# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

includes:
  - utils: ./utils.yaml

variables:
  - name: FLAVOR
    default: upstream
  - name: BASE_REPO

tasks:
  - name: create-latest-tag-bundle
    description: Creates the test bundle at the latest tag in preparation for upgrade testing
    inputs:
      options:
        description: For setting create time variables and flags
        default: ""

      bundle_path:
        description: Path relative to the repositories root where the bundle needs to go
        default: bundle

      path:
        description: Path relative to the repositories root where the package needs to go
        default: .

      team:
        description: The team you want to pull the package from
        default: uds

      architecture:
        description: The architecture of the package to create
        default: ${UDS_ARCH}

      dep_commands:
        description: Additional commands to run inside the old repo to setup dependencies
        default: ""

      ignored_versions:
        description: Regex for versions to ignore (used by filter logic), useful when version scheme has changed and automatic sorting is not pulling the latest version
        default: ""

      flavor:
        description: The flavor of the package to build
        default: ${FLAVOR}

    actions:
      - task: utils:determine-repo
        with:
          team: ${{ .inputs.team }}
          base_repo: ${{ .variables.BASE_REPO }}

      - description: Remove copied repo
        cmd: rm -rf upgrade-test

      - description: Copy repo into the upgrade-test folder
        shell:
          linux: bash
          darwin: bash
        cmd: |
          mkdir upgrade-test

          shopt -s extglob dotglob
          cp -r !(upgrade-test) upgrade-test
          shopt -u dotglob

      - description: Create test bundle of last tag
        shell:
          linux: bash
          darwin: bash
        dir: upgrade-test
        cmd: |
          git reset --hard HEAD
          BUNDLE_VERSION=$(cat ../${{ .inputs.bundle_path }}/uds-bundle.yaml | ./uds zarf tools yq .metadata.version)
          TAG="$(git describe --tags "$(git rev-list --tags --max-count=1)" 2>/dev/null || echo '')"
          git checkout "$TAG"

          # VARIABLES
          PACKAGE_NAME=$(cat ${{ .inputs.path }}/zarf.yaml | ./uds zarf tools yq .metadata.name)
          export PACKAGE_NAME
          LOCAL_VERSION=$(cat ../${{ .inputs.bundle_path }}/uds-bundle.yaml | ./uds zarf tools yq '.packages[] | select(.name == env(PACKAGE_NAME)) | .ref' | uniq )
          # shellcheck disable=SC2157
          if [[ -z "${{ .inputs.ignored_versions }}" ]]; then
            LATEST_VERSION=$(./uds zarf tools registry ls "${TARGET_REPO}/${PACKAGE_NAME}" | grep "${{ .inputs.flavor }}" | sort -V | tail -1)
          else
            LATEST_VERSION=$(./uds zarf tools registry ls "${TARGET_REPO}/${PACKAGE_NAME}" | grep -v "${{ .inputs.ignored_versions }}" | grep "${{ .inputs.flavor }}" | sort -V | tail -1)
          fi
          BUNDLE_NAME=$(cat ${{ .inputs.bundle_path }}/uds-bundle.yaml | ./uds zarf tools yq .metadata.name)
          PREVIOUS_BUNDLE_VERSION=$(cat ${{ .inputs.bundle_path }}/uds-bundle.yaml | ./uds zarf tools yq .metadata.version)

          # Pulls latest published zarf package
          ./uds zarf package pull \
            "oci://${TARGET_REPO}/${PACKAGE_NAME}:${LATEST_VERSION}" \
            --no-progress \
            -o ${{ .inputs.path }}

          # NOTE: This does not include the flavor suffix because the bundle will need to reference all flavors easily
          if [ ! -e "${{ .inputs.path }}/zarf-package-${PACKAGE_NAME}-${{ .inputs.architecture }}-${LOCAL_VERSION}.tar.zst" ]; then
            mv "${{ .inputs.path }}/zarf-package-${PACKAGE_NAME}-${{ .inputs.architecture }}-${LATEST_VERSION}.tar.zst" "${{ .inputs.path }}/zarf-package-${PACKAGE_NAME}-${{ .inputs.architecture }}-${LOCAL_VERSION}.tar.zst"
          fi

          # Run any dependency commands (i.e. uds run dependencies:create)
          sh -c "${{ .inputs.dep_commands }}"

          # Creates and moves the bundle into the correct spot
          ./uds create ${{ .inputs.bundle_path }} \
            --architecture=${{ .inputs.architecture }} \
            --confirm \
            --no-progress \
            ${{ .inputs.options }}

          mv "${{ .inputs.bundle_path }}/uds-bundle-${BUNDLE_NAME}-${{ .inputs.architecture }}-${PREVIOUS_BUNDLE_VERSION}.tar.zst" "../${{ .inputs.bundle_path }}/uds-bundle-${BUNDLE_NAME}-${{ .inputs.architecture }}-${BUNDLE_VERSION}.tar.zst"

      - description: Remove the upgrade-test folder
        cmd: rm -rf upgrade-test
