# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

variables:
  - name: FLAVOR
    default: upstream
  - name: TARGET_REPO

tasks:
  - name: determine-repo
    description: Determines the OCI repository that this flavor should go into (i.e. 'unicorn' should be private)
    inputs:
      base_repo:
        description: The base repository to publish into
        default: ghcr.io/defenseunicorns/packages
      team:
        description: The team publishing the package
        default: uds
      flavor:
        description: The flavor of the package to publish
        default: ${FLAVOR}
      snapshot:
        description: Whether this is a snapshot release
        default: "false"
    actions:
      - description: Determine repository for the given flavor/type of release
        cmd: |
          # DEPRECATED: TARGET_REPO being set directly is deprecated but not removed yet
          if [ -n "$TARGET_REPO" ]; then
            echo "$TARGET_REPO"
            exit 0
          fi
          repo="${{ .inputs.base_repo }}"
          # unicorn flavor = private repository
          if [ "${{ .inputs.flavor }}" = "unicorn" ]; then
            repo="${repo}/private"
          fi
          # Use substring matching to not apply when in the uds-packages org
          # shellcheck disable=SC2193
          if [[ "${{ .inputs.base_repo }}" != *"ghcr.io/uds-packages"* ]]; then
            repo="${repo}/${{ .inputs.team }}"
          fi

          # snapshots = snapshot repository
          if [ "${{ .inputs.snapshot }}" = "true" ]; then
            repo="${repo}/snapshots"
          fi
          echo "${repo}"
        mute: true
        shell:
          darwin: bash
          linux: bash
        setVariables:
          - name: TARGET_REPO

  - name: determine-mutable-tag
    description: Determines which tag to use for a mutable publish
    inputs:
      base_repo:
        description: The base repository to publish into
        default: ghcr.io/defenseunicorns/packages
      team:
        description: The team publishing the package
        default: uds
      flavor:
        description: The flavor of the package to publish
        default: ${FLAVOR}
    actions:
      - description: Determine repository for the given flavor/type of release
        cmd: |
          git reset --hard HEAD

          # Get the latest tag matching the FLAVOR pattern
          MUTABLE_TAG=$(git tag --list "*-${{ .variables.FLAVOR }}" --sort=-v:refname | head -n 1)

          echo "$MUTABLE_TAG"
        # mute: true
        shell:
          darwin: bash
          linux: bash
        setVariables:
          - name: MUTABLE_TAG
