# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR Commercial

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "nginx.fullname" . }}-default
  labels:
    {{- include "nginx.labels" . | nindent 4 }}
data:
  default.conf: |
    server {
        listen       8080;
        server_name  localhost;

        location / {
            root   /usr/share/nginx/html;
            index  index.html index.htm;
        }
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /usr/share/nginx/html;
        }
    }
    server {
        listen       8081;
        server_name  localhost;

        location /metrics/ {
            root   /usr/share/nginx/metrics;
            index  metrics.txt;
        }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /usr/share/nginx/html;
        }
    }
  metrics.txt: |
    # TYPE acme_http_router_request_seconds summary
    # UNIT acme_http_router_request_seconds seconds
    # HELP acme_http_router_request_seconds Latency though all of ACME's HTTP request router.
    acme_http_router_request_seconds_sum{path="/api/v1",method="GET"} 9036.32
    acme_http_router_request_seconds_count{path="/api/v1",method="GET"} 807283.0
    acme_http_router_request_seconds_created{path="/api/v1",method="GET"} 1605281325.0
    acme_http_router_request_seconds_sum{path="/api/v2",method="POST"} 479.3
    acme_http_router_request_seconds_count{path="/api/v2",method="POST"} 34.0
    acme_http_router_request_seconds_created{path="/api/v2",method="POST"} 1605281325.0
    # TYPE go_goroutines gauge
    # HELP go_goroutines Number of goroutines that currently exist.
    go_goroutines 69
    # TYPE process_cpu_seconds counter
    # UNIT process_cpu_seconds seconds
    # HELP process_cpu_seconds Total user and system CPU time spent in seconds.
    process_cpu_seconds_total 4.20072246e+06
    # EOF
