# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

name: Callable-Publish

on:
  workflow_call:
    inputs:
      runsOn:
        default: ubuntu-latest
        type: string
      flavor:
        required: true
        type: string
      options:
        type: string
        description: Additional options to set when running the test
        default: ""
      reports-path:
        type: string
        description: The path to test outputs to upload
      reports-name:
        type: string
        description: The name prefix for upload test reports
        default: playwright-report
      timeout:
        type: number
        default: 40
      publish-repo:
        type: boolean
        default: true
        description: Whether to also publish repo contents as a separate artifact
      uds-pk:
        type: boolean
        default: true
        description: Whether to use the uds-pk for publishing
      uds-releaser:
        type: boolean
        default: false
        description: "DEPRECATED: Whether to use the UDS Releaser for publishing"
    secrets:
      LICENSE_KEY:
        required: false

# Permissions for the GITHUB_TOKEN used by the workflow.
permissions:
  contents: read # Allows reading the content of the repository.
  packages: read # Allows reading the content of the repository's packages.
  id-token: write

jobs:
  run:
    runs-on: ${{ inputs.runsOn }}
    timeout-minutes: ${{ inputs.timeout }}
    permissions:
      contents: write
      packages: write
      id-token: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Install UDS CLI
        uses: defenseunicorns/setup-uds@ab842abcad1f7a3305c2538e3dd1950d0daacfa5 # v1.0.1
        with:
          # renovate: datasource=github-tags depName=defenseunicorns/uds-cli versioning=semver
          version: v0.27.21

      - name: Install ORAS CLI
        if: ${{ inputs.publish-repo }}
        uses: oras-project/setup-oras@22ce207df3b08e061f537244349aac6ae1d214f6 # v1.2.4
        with:
          # renovate: datasource=github-tags depName=oras-project/oras versioning=semver
          version: 1.3.0

      - name: Environment setup
        run: |
            echo "MARU_AUTH=\"{\"raw.githubusercontent.com\": \"${{ secrets.GITHUB_TOKEN }}\"}\"" >> "GITHUB_ENV"
            uds run actions:setup-environment \
            --set REGISTRY1_USERNAME="${{ secrets.IRON_BANK_ROBOT_USERNAME }}" \
            --set REGISTRY1_PASSWORD="${{ secrets.IRON_BANK_ROBOT_PASSWORD }}" \
            --set GH_TOKEN="${{ secrets.GITHUB_TOKEN }}" \
            --set RAPIDFORT_USERNAME="${{ secrets.RAPIDFORT_USERNAME }}" \
            --set RAPIDFORT_PASSWORD="${{ secrets.RAPIDFORT_PASSWORD }}"
        shell: bash

      - name: Parse inputs
        id: parse-inputs
        run: |
          if [ "${{ inputs.uds-releaser }}" = "true" ]; then
            echo "::warning title=Deprecated-Input::The uds-releaser input is deprecated, please use uds-pk instead"
            echo "uds-pk=true" >> "$GITHUB_OUTPUT"
          elif [ "${{ inputs.uds-pk }}" = "false" ]; then
            echo "uds-pk=false" >> "$GITHUB_OUTPUT"
          else
            echo "uds-pk=true" >> "$GITHUB_OUTPUT"
          fi


      - name: Publish Packages/Bundles - release-please
        if: ${{ steps.parse-inputs.outputs.uds-pk == 'false' }}
        run: |
          if uds run --list | grep -wq 'publish-package'; then
            uds run publish-package --set USE_CHECKPOINT=false --set FLAVOR=${{ inputs.flavor }} --no-progress ${{ inputs.options }}
          else
            uds run publish-release --set USE_CHECKPOINT=false --set FLAVOR=${{ inputs.flavor }} --no-progress ${{ inputs.options }}
          fi

      - name: Publish Packages/Bundles - uds-pk
        if: ${{ steps.parse-inputs.outputs.uds-pk == 'true' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if uds-pk release check "${{ inputs.flavor }}"; then
            uds-pk release update-yaml ${{ inputs.flavor }}
            if uds run --list | grep -wq 'publish-package'; then
              uds run publish-package \
                --set USE_CHECKPOINT=false \
                --set FLAVOR=${{ inputs.flavor }} \
                --set ENABLE_UDS_PK=true \
                --no-progress ${{ inputs.options }} \
                --set LICENSE_KEY=${{ secrets.LICENSE_KEY }}
            else
              uds run publish-release \
                --set USE_CHECKPOINT=false \
                --set FLAVOR=${{ inputs.flavor }} \
                --set ENABLE_UDS_PK=true \
                --no-progress ${{ inputs.options }} \
                --set LICENSE_KEY=${{ secrets.LICENSE_KEY }}
            fi
          fi

      - name: Publish Repo Contents
        if: ${{ inputs.publish-repo }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          uds run publish:repo \
            --set FLAVOR=${{ inputs.flavor }} \
            --no-progress ${{ inputs.options }}

      - name: Debug Output
        if: ${{ always() }}
        run: uds run actions:debug-output
        shell: bash

      - name: Save logs
        if: ${{ always() }}
        run: uds run actions:save-logs
        shell: bash

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ always() }}
        with:
          name: debug-log-${{ inputs.flavor }}-${{ github.run_id }}-${{ github.run_attempt }}-${{ runner.arch }}
          path: |
            /tmp/zarf-*.log
            /tmp/uds-*.log
            /tmp/maru-*.log
            /tmp/debug-*.log
            /tmp/uds-containerd-logs
            /tmp/k3d-uds-*.log

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ always() && inputs.reports-path != '' }}
        with:
          name: ${{ inputs.reports-name }}-${{ inputs.flavor }}-${{ github.run_id }}-${{ github.run_attempt }}-${{ runner.arch }}
          path: ${{ inputs.reports-path }}
          retention-days: 30
