name: Test-Deploy

on:
  workflow_call:
    inputs:
      if:
        required: true
        type: string
      flavor:
        required: true
        type: string
      type:
        required: true
        type: string

# Permissions for the GITHUB_TOKEN used by the workflow.
permissions:
  contents: read # Allows reading the content of the repository.

jobs:
  run-test:
    name: deploy
    runs-on: ubuntu-latest
    timeout-minutes: 20
    if: ${{ inputs.if }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Clean Runner
        uses: ./.github/actions/clean-runner

      - name: Environment setup
        uses: ./.github/actions/setup
        with:
          registry1Username: ${{ secrets.IRON_BANK_ROBOT_USERNAME }}
          registry1Password: ${{ secrets.IRON_BANK_ROBOT_PASSWORD }}
          ghToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Test
        uses: ./.github/actions/test-deploy
        with:
          flavor: ${{ inputs.flavor }}
          type: ${{ inputs.type }}

      - name: Debug Output
        if: ${{ always() }}
        uses: ./.github/actions/debug-output

      - name: Save logs
        if: ${{ always() }}
        uses: ./.github/actions/save-logs
        with:
          suffix: ${{ inputs.type }}-${{ inputs.flavor }}-${{ github.run_id }}-${{ github.run_attempt }}
